In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

mydata = pd.read_csv('C:/Users/oem/Desktop/intro to Data Mining/abalone_dataset2.txt',sep="\t")

mydata.head(10)

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  3
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070  1
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210  2
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  2
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055  1
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120  2
5  F  0.530  0.415  0.150  0.7775  0.2370  0.1415  0.330  3
6  F  0.545  0.425  0.125  0.7680  0.2940  0.1495  0.260  3
7  M  0.475  0.370  0.125  0.5095  0.2165  0.1125  0.165  2
8  F  0.550  0.440  0.150  0.8945  0.3145  0.1510  0.320  3
9  F  0.525  0.380  0.140  0.6065  0.1940  0.1475  0.210  3

In [11]:
df = mydata.iloc[:, :]

In [12]:
df.columns = ['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight','Rings ']

In [13]:
df

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,1
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,2
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,2
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,1
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.1200,2
...,...,...,...,...,...,...,...,...,...
4171,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,2
4172,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,2
4173,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,2
4174,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,2
4175,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,3